*.out
script-N*

pairs/pairs.x
ping-ping/ping-ping.x
spread/spread.x
stencil3d/stencil3d.x
stencil4d/stencil4d.x
subcom2d-coll/subcom2d-coll.x
subcom3d-a2a/subcom3d-a2a.x
unstr-mesh/unstr-mesh.x

pairs/pairs.otf2
ping-ping/ping-ping.otf2
spread/spread.otf2
stencil3d/stencil3d.otf2
stencil4d/stencil4d.otf2
subcom2d-coll/subcom2d-coll.otf2
subcom3d-a2a/subcom3d-a2a.otf2
unstr-mesh/unstr-mesh.otf2
